.con2{
    background-color: #272732;
    padding: 20px;
    text-align: center;
    margin-top: 200px;
    height: 100px;
    

}
.con2 p{
    color: red;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.he2{
    color: red;

    font-weight: 600;
}